* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    background-color: #222 ;
  
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
   
}


#h1{
    texth: 100px;
}